.collect__form__four {
    width: 936px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 152px;

    &__container {
        width: 392px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    
    &__label {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        width: 256px;
        height: 40px;
        border: $border-main;
        background: transparent;
        font-family: $font-base;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        color: $color-input-txt; 
    }
}

.textarea {
            height: 120px;
            align-self: flex-start;
        }