@import '../../../scss/settings/colors';

.container {
    width: 100vw;
    padding: 35px 0 50px 142px;
    background: url(../../../assets/Background-Form.jpg) no-repeat right/cover;
}

.step {
    font-size: 24px;
    font-weight: 300;
    line-height: 27px;
    color: $color-main;
}

.form {
    width: 575px;
    height: 457px;
    border: 1px solid red;
    margin: 70px 0 158px 0;
}