@import "../../../scss/settings/colors";

.container {
    background-color: red;
    width: 300px;
    height: 49px;
    border: $border-main;
    position: relative;
    cursor: pointer;
    z-index: 5;
    line-height: 44px;
    padding-left: 18px;
}

.arrow,
.arrow-active {
    background: url("../../../assets/Icon-Arrow-Down.svg") no-repeat center/contain;
    width: 57px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 11.5px;
    transition: 0.3s ease-out;
}

.arrow-active {
    transform: rotateX(180deg);
}

.select,
.select-active {
    border: $border-main;
    width: 86px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    line-height: 32px;
    position: absolute;
    top: 64px;
    right: -0.75px;
    cursor: default;
    transition: 0.3s ease-out;
    z-index: 0;
}

.select {
    opacity: 0;
}

.select-active {
    opacity: 1;
}

.option {
    cursor: pointer;
}
