// breakpoints - all for min-width
$xs: 599px; // exception - only for max-width
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

@mixin media-up($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media-down($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
