// breakpoints - all for min-width
$min-screen: 360px;
$xs: 599px; // exception - only for max-width
$sm: 600px;
$md: 960px;
$lx: 1024px;
$lg: 1264px;
$xl: 1904px;

//max-container width
$container-max-md: 1000px;
$container-max-lg: 1200px;
$container-max-xl: 1400px;

@mixin media-up($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin media-down($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}
