$color-bg: #f0f1f1;
$color-columns-num: #5e5322;
$color-header-btn-hover: #fad648;
$color-header-btn: #737373;
$color-main: #3c3c3c;
$color-steps-title-deco: #707070;
$color-success: #128012;
$color-error: #ff0000;
$color-collect-accent: #fad648;
$color-input-txt: #000000;
$color-select-bg: #e8e9e4;
$color-form-bg: #ffffffc9;
$color-black: #000;

$border-main: 0.75px solid $color-main;
