$color-bg: #F0F1F1;
$color-columns-num: #5E5322;
$color-header-btn-hover: #FAD648;
$color-header-btn: #737373;
$color-main: #3C3C3C;
$color-steps-title-deco: #707070;
$color-success: #128012;
$color-error: #ff0000;
$color-collect-accent: #FAD648;