@import './breakpoints';
@import './colors';
@import './fonts';

html {
	font-size: 16px;
}

body {
	font-family: $font-base;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-main {
	margin: 0 auto;
	width: 100%;
	padding: 0 12px;

	@include media-up($sm) {
		padding: 0;
	}

	@include media-up($md) {
		max-width: $container-max-md;
	}

	@include media-up($lg) {
		max-width: $container-max-lg;
	}

	@include media-up($xl) {
		max-width: $container-max-xl;
	}
}

li {
	list-style: none;
}

a {
	border: 0.75px solid transparent;
	background: transparent;
	text-decoration: none;
	color: $color-main;
	transition: 0.3s;
	cursor: pointer;
	text-align: center;

	&:hover {
		border-color: $color-main;
	}
}

button {
	cursor: pointer;
}

.error {
	font-size: 14px;
	font-weight: 400;
	color: $color-error;
}

.link-active {
	border-color: $color-main;
}

