body {
    font-family: $font-base;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    margin: 0 auto;
    width: 1900px;
    
}

li {
    list-style: none;
}

a {
    border: .75px solid transparent;
    background: transparent;
    text-decoration: none;
    color: $color-main;
    transition: .3s;
    cursor: pointer;
    text-align: center;

    &:hover {
        border: .75px solid $color-main;
    }
}
