@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
@import '../../scss/settings/breakpoints';

.collect {
	width: 100%; //vw;
	//    background: url('../../assets/Form-Hero-Image.jpg') no-repeat  top left/54%;
}

.container {
	display: block;

	@include media-up($md) {
		display: flex;
	}
}

.image {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}
}

.desc {
	width: 100%;
	max-width: 663px;
	min-height: 455px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-self: center;
	margin: 0 auto;
	padding-top: 2rem;
}

.title {
	margin-top: 77.2px;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0;
	color: $color-main;

	@include fluid-font(30px, 40px);
}
