@import '../../../../scss/settings/breakpoints';
@import '../../../../scss/settings/colors';
@import '../../../../scss/settings/fonts';

.summary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	max-width: 800px;
	width: 100%;
	grid-gap: 20px;
	margin-top: 20px;
	padding-bottom: 100px;

	&__items {
		grid-column: 1 / 3;
		grid-row: 1 / 2;

		&__desc {
			display: flex;
			align-items: center;

			&:first-of-type {
				margin-bottom: 20px;
			}
		}

		&__text {
			width: calc(100% - 69px);
		}
	}

	&__icon {
		&__one,
		&__two {
			width: 35px;
			height: 35px;
			display: inline-block;
			margin-right: 19px;

			@include media-up($sm) {
				width: 50px;
				height: 50px;
			}
		}

		&__one {
			background: url('../../../../assets/Icon-1.svg') no-repeat center/contain;
		}

		&__two {
			background: url('../../../../assets/Icon-4.svg') no-repeat center/contain;
		}
	}

	&__adress {
		grid-column: 1 / 3;
		grid-row: 2 / 3;

		@include media-up($md) {
			grid-column: 1 / 2;
		}
	}

	&__date {
		grid-column: 1 / 3;
		grid-row: 3 / 4;

		@include media-up($md) {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}

	&__title {
		margin: 20px auto;
	}

	&__desc {
		line-height: 40px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: left;
		word-wrap: break-word;
	}

	&__key {
		grid-column: 1 / 2;
	}

	&__data {
		max-width: 200px;
		grid-column: 2 / 3;
	}
}
