@import '../../../scss/settings/colors';
@import '../../../scss/settings/_breakpoints.scss';

.organizations {
	padding: 70px 12px 80px;

	.switch {
		margin-top: 108px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow-x: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}

		@include media-up($sm) {
			justify-content: center;
		}
	}

	.list {
		margin: 70px auto 0;
		width: 100%;
		max-width: 1344px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& div:nth-child(4) {
			border-color: transparent;
		}
	}
}
