@import "../../../scss/settings/colors";

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
}

.hide {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
}

.nr,
.nr-active {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: $color-main;
    padding: 13px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;

    &:hover {
        border: 1px solid $color-steps-title-deco;
    }
}

.nr-active {
    border: 1px solid $color-steps-title-deco;
}
