.contact {
    width: 100vw;
    height: 1026px;
    position: relative;
    background: url('../../../assets/Background-Contact-Form.jpg') no-repeat left/cover;
}

.bg-cover {
    width: 100%;
    height: 100%;
    background: #FFFFFFC9;
}

.container {
    position: absolute;
    top: 19.5%; //200px;
    right: 7.5%; //142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

