.footer {
	width: 100%;
	height: 45px;

	.container {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.fb,
	.insta {
		width: 30px;
		height: 30px;
		border: none;
		overflow: visible;

		&:hover {
			border: none;
			transform: scale(1.1);
		}
	}

	.fb {
		background: url('../../../assets/Facebook.svg') no-repeat center/cover;
		margin-right: 1rem;
	}

	.insta {
		background: url('../../../assets/Instagram.svg') no-repeat center/cover;
	}
}
