@import "../../scss/settings/colors";

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: $color-bg;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.info {
    margin-top: 114px;
    width: 50%; //657px;
    font-size: 30px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.6px;
    color: $color-main;
    text-align: center;
    position: relative;

    &::after {
        content: url("../../assets/Signature.svg");
        width: 209px;
        height: 149px;
        position: absolute;
        right: 0;
        bottom: -189px;
    }
}

.image {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.pic {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: -33px;
}
