.footer {
    width: 100vw;
    height: 30px;
    position: relative;
    padding-bottom: 45px;
}

.fb,
.insta {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border: none;
    overflow: visible;

    &:hover {
        border: none;
        transform: scale(1.1);
    }

}

.fb {
    background: url('../../assets/Facebook.svg') no-repeat center/cover;
    right: 192px;
}

.insta {
    background: url('../../assets/Instagram.svg') no-repeat center/cover;
    right: 142px;
}
