.footer {
    width: 100vw;
    height: 45px;

    &__container {
        height: 100%;
        position: relative;
    }

    &__fb,
    &__insta {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        cursor: pointer;
        border: none;
        overflow: visible;

        &:hover {
            border: none;
            transform: scale(1.1);
        }
    }

    &__fb {
        background: url("../../assets/Facebook.svg") no-repeat center/cover;
        right: 50px;
    }

    &__insta {
        background: url("../../assets/Instagram.svg") no-repeat center/cover;
        right: 0;
    }
}
