.home__header {
    position: absolute;
    top: 3.8%; //37px;
    right: 7.5%; //142px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    
    &__btn {
        margin-right: 10px;

        &__item {
            border: 0.75px solid transparent;
            background-color: transparent;
            padding: 9px 10px;
            font-size: 13px;
            color: $color-header-btn;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                border: 0.75px solid $color-header-btn-hover;
                
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        
        &__item {
            border: .75px solid transparent;
            font-size: 18px;
            color: $color-main;
            padding: 9px 20px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                border: .75px solid $color-main;
            }
        }
    }
}
