.home__main {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    
    position: relative;

    &__img {
        height: 100%;
        width: 50vw;
        overflow: hidden;
      position: absolute;
      right: 50%;

        &__item {
            height: 100%;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__description {
        align-self: center;
        max-width: 674px;
        width: 50%;

        position:absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &__btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 44px;
            margin-top: 123px;
        }
    }
}
