@import '../settings/colors';

.title {
    font-size: 38px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -.76px;
    text-align: center;
    color: $color-main;
    position: relative;
    white-space: pre-wrap;
    
    &::after {
        position: absolute;
        bottom: -58px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 253px;
        height: 33px;
        background: url('../../assets/Decoration.svg');
    }
}
