@import '../../scss/settings/breakpoints';
@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';

.btn {
	background: transparent;
	border: 0.75px solid $color-main;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.33;
	letter-spacing: 0;
	color: $color-black;
	padding: 14px 14px;
	width: 50%;

	@include fluid-font(18px, 24px);
	@include media-up($sm) {
		padding: 23px 62px;
	}

	@include media-up($md) {
		width: auto;
		background: $color-collect-form-bg;
	}
}
