@import '../../scss/settings/colors';
@import '../../scss/settings/breakpoints';
@import '../../scss/settings/fonts';

.title {
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.76px;
	text-align: center;
	color: $color-main;
	position: relative;
	white-space: pre-wrap;

	@include fluid-font(20px, 38px);

	&::after {
		position: absolute;
		bottom: -58px;
		left: 50%;
		transform: translateX(-50%);
		content: '';
		width: 253px;
		height: 33px;
		background: url('../../assets/Decoration.svg');
	}
}
